.aboutDiv {
    height: calc(100vh - 80px);
    background-color: var(--grayBlue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutContent {
    /* text-align: center; */
    width: 700px;
}

.imgAbout {
    height: 300px;
    border-radius: 80px;
}